html(lang="en")
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

    body

        each data in tempData
            ul  
                li #{data.temp}
                li #{data.humi}
                li #{data.year}
                li #{data.mount}
                li #{data.day}
   
    script(type='text/javascript', src='/lib/angular/angular.min.js')
    
    script(type='text/javascript', src='/temppage.js')